apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: "${CA_CERT}"
    server: "${HOST}"
  name: "${NAME}"
contexts:
- context:
    cluster: "${NAME}"
    namespace: default
    user: "${NAME}"
  name: "${NAME}"
current-context: "${NAME}"
kind: Config
preferences: {}
users:
- name: "${NAME}"
  user:
    token: ${TOKEN}