[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName = US
stateOrProvinceName = GA
localityName = Atlanta
organizationalUnitName = Security
organizationName = The Home Depot
commonName = *.spinnaker.homedepot.com

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
#Add what ever DNS entries you need here
DNS.1 = *.spinnaker.homedepot.com
